*{
    margin: 0;
    padding: 0;
}
body{
    margin: 10% 20% 10% 25%;
    background-color: rgb(221, 218, 218);
}
.all{
    display: flex;
    flex-direction: row;
    height: 65vh;
    width: 100%;
}
.all h1{
    color: white;
    padding-bottom: 1.8rem;
    font-family: 'Big Shoulders Display';
}
.all p{
    line-height: 1.5rem;
    color: white;
    padding-bottom: 5rem;
    padding-right: 2.5rem;
    font-size: 0.7rem;
    font-family: 'Lexend Deca';
}
.all img{
    padding-bottom: 2.5rem;
    width: 3.1rem;
}
.start{
    background-color: hsl(31, 77%, 52%);
    padding: 2.5rem;
    border-radius: 2% 0 0 2%;
}
.start button{
    color:  hsl(31, 77%, 52%);
    padding: 0.6rem;
    width: 70%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Lexend Deca';
}
.meio{
    background-color:  hsl(184, 100%, 22%);
    padding: 2.5rem;
}
.meio button{
    color: hsl(184, 100%, 22%);
    padding: 0.6rem;
    width: 70%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Lexend Deca';
}
.fim{
    background-color: hsl(179, 100%, 13%);
    padding: 2.5rem;
    border-radius: 0 2% 2% 0;
}
.fim button{
    color:hsl(179, 100%, 13%);
    padding: 0.6rem;
    width: 70%;
    border: none;
    border-radius: 1.2rem;
    font-family: 'Lexend Deca';
}
